/*start header*/
header {
	position: fixed;
	z-index: 10;
	background-color: white;
	width: 100%;
}
.navigation {
	max-width: 1170px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;

}
.nav-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 10px;

}
.nav-li {

}
.header1{
font-size: 30px;
color: #636363;
margin-right: 400px;
margin-left: 70px;
font-family: 'Dancing Script', cursive;
}
.header2 {
	font-size: 16px;
	color: #707070;
	margin-right:80px;
	font-family: 'Benne', serif;
}
.burger {
	margin-left: 50px;
	font-size: 20px;
	color: aqua;
	display: none;
}

/*end header*/
/*start section 1*/
.section1 {
	margin-bottom:50px;
}
.unite {
	background-image: url('../images/background.jpg');
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.title4{
	font-size: 70px;
	color: white;
	margin-bottom: 50px;
}
.title5{
	font-size: 20px;
	color: white;
	text-align: center;
}

/*end section1*/
/*start section 2*/
.section2{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	vertical-align:top;
}
.blocks {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.left-block {
	width: 300px;
	height: 200px;
	margin-right: 20px;
}
.right-block {
	max-width:890px ;
	width: 100%;
	height:600px ;
}
.up {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.text1 {
	width: 260px;
	height: 90px;
	font-size: 16px;
}
.down {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.title {
	font-size: 16px;
	color:#8D8D8D ;
	margin-bottom: 5px;
}
.title1{
	font-size: 20px;
	color: #1A1A1B;
	margin-bottom: 20px;
}
.text2 {
	font-size: 15px;
	color:#8D8D8D ;
	line-height: 120%;
	font-family: 'Benne', serif;
}
.image1 {
	width: 100%;
	margin-bottom: 10px;
}
.title2 {
	font-size: 18px;
	color: #1A1A1B;
	margin-bottom: 5px;
}
.text1 {
	font-size: 15px;
	color: #707070;
	line-height: 150%;
	font-family: 'Benne', serif;
}
/*end section 2*/